@inject NavigationManager Navigation
@page "/nuevoconsumo/emisionesfugitivas"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@layout NuevoConsumo;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject IJSRuntime JsRuntime
@inject HttpClient Http


<PageTitle>Agregar Consumo EmisionesFugitivas</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    #labelnew {
        font-size: 24px;
        margin-bottom: 3%;
    }

    .iniciarbtn {
        background-color: #ec8f2f;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #f1f1f1;
    }

        .input:focus {
            background-color: #ddd;
            outline: none;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="labelnew"><label><b>Nuevo Consumo de Emisiones Fugitivas:</b></label></div>
    <div id="container">
        <EditForm Model="@emisionesFugitivas" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label for="matricula"><b>Id del EmisionesFugitivas</b></label>
            <InputNumber class="input" id="EmisionesFugitivasId" placeholder="  EmisionesFugitivasId" @bind-Value="emisionesFugitivas.EmisionesFugitivasId" />
            <ValidationMessage For="@(() => emisionesFugitivas.EmisionesFugitivasId)" class="errormsg" />

            <label for="matricula"><b>Cantidad de la Recarga</b></label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  Recarga" @bind-Value="emisionesFugitivas.Recarga" />
            <ValidationMessage For="@(() => emisionesFugitivas.Recarga)" class="errormsg" />

            <label for="matricula"><b>Fecha de Inicio</b></label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="emisionesFugitivas.FechaInicio" />
            <ValidationMessage For="@(() => emisionesFugitivas.FechaInicio)" class="errormsg" />

            <label for="matricula"><b>Fecha Fin</b></label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="emisionesFugitivas.FechaFin" />
            <ValidationMessage For="@(() => emisionesFugitivas.FechaFin)" class="errormsg" />

            <label for="categoria"><b>Tipo de Gas</b></label>
            <InputSelect class="input" id="categoria" @bind-Value="emisionesFugitivas.Gas">
                <option value="HFC-23">HFC-23</option>
                <option value="HFC-32">HFC-32</option>
                <option value="HFC-41">HFC-41</option>
                <option value="HFC-125">HFC-125</option>
                <option value="HFC-134">HFC-134</option>
                <option value="CH2FCF3">HFC-134a (CH2FCF3)</option>
                <option value="HFC-143">HFC-143 (C2H3F3)</option>
                <option value="C2H3F3">HFC-143a</option>
                <option value="HFC-152">HFC-152</option>
                <option value="HFC-152a">HFC-152a</option>
                <option value="HFC-161">HFC-161</option>
                <option value="HFC-227ea">HFC-227ea</option>
                <option value="HFC-236cb">HFC-236cb</option>
                <option value="HFC-236ea">HFC-236ea</option>
                <option value="HFC-236fa">HFC-236fa</option>
                <option value="HFC-245ca">HFC-245ca</option>
                <option value="HFC-245fa">HFC-245fa</option>
                <option value="HFC-365mfc">HFC-365mfc</option>
                <option value="HFC-43-10mee">HFC-43-10mee</option>
                <option value="R-404A">R-404A</option>
                <option value="R-407A">R-407A</option>
                <option value="R-407B">R-407B</option>
                <option value="R-407C">R-407C</option>
                <option value="R-407F">R-407F</option>
                <option value="R-410A">R-410A</option>
                <option value="R-410B">R-410B</option>
                <option value="R-413A">R-413A</option>
                <option value="R-417A">R-417A</option>
                <option value="R-417B">R-417B</option>
                <option value="R-422A">R-422A</option>
                <option value="R-422D">R-422D</option>
                <option value="R-424A">R-424A</option>
                <option value="R-426A">R-426A</option>
                <option value="R-427A">R-427A</option>
                <option value="R-428A">R-428A</option>
                <option value="R-434A">R-434A</option>
                <option value="R-437A">R-437A</option>
                <option value="R-438A">R-438A</option>
                <option value="R-442A">R-442A</option>
                <option value="R-449A">R-449A</option>
                <option value="R-452A">R-452A</option>
                <option value="R-453A">R-453A</option>
                <option value="R-507A">R-507A</option>
                <option value="dioxidodecarbono">Dióxido de Carbono</option>
                <option value="metano">Metano</option>
                <option value="oxidonitroso">Óxido Nitroso</option>
                <option value="hexafluorurodeazufre">Hexafluoruro de Azufre</option>
                <option value="trifluorurodenitrogeno">Trifluoruro de Nitrógeno</option>
                <option value="isoflurano">Isoflurano</option>
                <option value="desflurano">Desflurano</option>
                <option value="sevoflurano">Sevoflurano</option>
                <option value="hexafluoroetano">Hexafluoroetano</option>


            </InputSelect>
            <ValidationMessage For="@(() => emisionesFugitivas.Gas)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Añadir Consumo de EmisionesFugitivas</button>
        </EditForm>
    </div>
</body>

@code {
    private EmisionesFugitivasConsumoCreateDTO emisionesFugitivas = new EmisionesFugitivasConsumoCreateDTO() { Gas = "", FechaInicio = DateTime.Now, FechaFin = DateTime.Now };
    string result;


    [Inject]
    public IEmisionesFugitivasConsumoServices EmisionesFugitivasConsumoServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            result = await EmisionesFugitivasConsumoServices.PostEmisionesFugitivasConsumo(emisionesFugitivas);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        EmisionesFugitivasConsumoServices = new EmisionesFugitivasConsumoServices(Http);
    }
}
