@inject NavigationManager Navigation
@page "/nuevoconsumo/otrosconsumos"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@layout NuevoConsumo;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject SweetAlertService Swal;
@inject HttpClient Http


<PageTitle>Agregar Consumo OtrosConsumos</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    #labelnew {
        font-size: 24px;
        margin-bottom: 3%;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

        .input:focus {
            background-color: #AFADAD;
            outline: none;
        }

        .input:hover {
            background-color: #AFADAD;
        }
    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="labelnew"><label>Nuevo Consumo de Otras fuentes:</label></div>
    <div id="container">
        <EditForm autocomplete="off" Model="@otrosConsumos" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label for="edificio">Edificio/Sede</label>
            <InputText class="input" id="edificio" placeholder="  Edificio/Sede" @bind-Value="otrosConsumos.Edificio" />
            <ValidationMessage For="@(() => otrosConsumos.Edificio)" class="errormsg" />

            <label for="matricula">Nombre</label>
            <InputText class="input" id="Nombre" placeholder="  Nombre" @bind-Value="otrosConsumos.Nombre" />
            <ValidationMessage For="@(() => otrosConsumos.Nombre)" class="errormsg" />

            <label for="matricula">Categoria de la Actividad</label>
            <InputText class="input" id="OtrosConsumosId" placeholder="Categoria de la Actividad" @bind-Value="otrosConsumos.CategoriaActividad" />
            <ValidationMessage For="@(() => otrosConsumos.CategoriaActividad)" class="errormsg" />

            <label for="matricula">Factor de Emision</label>
            <InputNumber class="input" id="OtrosConsumosId" placeholder="Factor de Emision" @bind-Value="otrosConsumos.FactorEmision" />
            <ValidationMessage For="@(() => otrosConsumos.FactorEmision)" class="errormsg" />

            <label for="matricula">Cantidad de Consumo</label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  Cantidad de Consumo" @bind-Value="otrosConsumos.CantidadConsumo" />
            <ValidationMessage For="@(() => otrosConsumos.CantidadConsumo)" class="errormsg" />

            <label for="matricula">Fecha de Inicio</label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="otrosConsumos.FechaInicio" />
            <ValidationMessage For="@(() => otrosConsumos.FechaInicio)" class="errormsg" />

            <label for="matricula">Fecha Fin</label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="otrosConsumos.FechaFin" />
            <ValidationMessage For="@(() => otrosConsumos.FechaFin)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Añadir Consumo de Otras fuentes</button>
        </EditForm>
    </div>
</body>

@code {
    private OtrosConsumosCreateDTO otrosConsumos = new OtrosConsumosCreateDTO() { FechaInicio = DateTime.Now, FechaFin = DateTime.Now };
    string result;


    [Inject]
    public IOtrosConsumosServices otrosConsumosServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            result = await otrosConsumosServices.PostOtrosConsumos(otrosConsumos);
        }
        catch (Exception e)
        {
                        await Swal.FireAsync("Ha habido un problema", e.Message, "error");
            return;
        }
        await Swal.FireAsync(result, null, "success");
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        otrosConsumosServices = new OtrosConsumosServices(Http);
    }
}
