@inject NavigationManager Navigation
@page "/nuevoconsumo/vehiculo"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@layout NuevoConsumo;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject IJSRuntime JsRuntime
@inject HttpClient Http


<PageTitle>Agregar Consumo Vehículo</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    #labelnew {
        font-size: 24px;
        margin-bottom: 3%;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

        .input:focus {
            background-color: #AFADAD;
            outline: none;
        }

        .input:hover {
            background-color: #AFADAD;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="labelnew"><label>Nuevo Consumo de Vehículo:</label></div>
    <div id="container">
        <EditForm Model="@vehiculo" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label for="matricula">Id del Vehículo</label>
            <InputNumber class="input" id="VehiculoId" placeholder="  VehiculoId" @bind-Value="vehiculo.VehiculoId" />
            <ValidationMessage For="@(() => vehiculo.VehiculoId)" class="errormsg" />

            <label for="matricula">Cantidad de Combustible (Litros)</label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  CantidadCombustible" @bind-Value="vehiculo.CantidadCombustible" />
            <ValidationMessage For="@(() => vehiculo.CantidadCombustible)" class="errormsg" />

            <label for="matricula">Fecha de Inicio</label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="vehiculo.FechaInicio" />
            <ValidationMessage For="@(() => vehiculo.FechaInicio)" class="errormsg" />

            <label for="matricula">Fecha Fin</label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="vehiculo.FechaFin" />
            <ValidationMessage For="@(() => vehiculo.FechaFin)" class="errormsg" />

            <label for="categoria">Tipo de Combustible</label>
            <InputSelect class="input" id="categoria" @bind-Value="vehiculo.TipoCombustible">
                <option value="E5">E5</option>
                <option value="E10">E10</option>
                <option value="E85">E85</option>
                <option value="E100">E100</option>
                <option value="B7">B7</option>
                <option value="B10">B10</option>
                <option value="B20">B20</option>
                <option value="B30">B30</option>
                <option value="B100">B100</option>
                <option value="LPG">LPG</option>
                <option value="CNG">CNG</option>

            </InputSelect>
            <ValidationMessage For="@(() => vehiculo.TipoCombustible)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Añadir Consumo de Vehículo</button>
        </EditForm>
    </div>
</body>

@code {
    private VehiculoConsumoCreateDTO vehiculo = new VehiculoConsumoCreateDTO() { TipoCombustible = "E5", FechaInicio = DateTime.Now,  FechaFin = DateTime.Now};
    string result;
    

    [Inject]
    public IVehiculoConsumoServices VehiculoConsumoServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            result = await VehiculoConsumoServices.PostVehiculoConsumo(vehiculo);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        VehiculoConsumoServices = new VehiculoConsumoServices(Http);
    }
}
