@inject NavigationManager Navigation
@page "/modificar/vehiculo/{id}"
@using API.Models;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@inject SweetAlertService Swal;
@layout Modificar
@inject HttpClient Http

<PageTitle>Modificar Vehiculo</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float:left;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    .iniciarbtn:hover {
        opacity: 1;
    }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

    .input:focus {
            background-color: #AFADAD;
        outline: none;
    }

        .input:hover {
            background-color: #AFADAD;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="container">
    <EditForm Model="@vehiculo" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

            <label>Id del vehículo</label>
            <InputText class="input" id="edificio" readonly="@true" @bind-Value="@id" />

        <label for="edificio">Edificio/Sede</label>
        <InputText class="input" id="edificio" placeholder="  Edificio/Sede" @bind-Value="vehiculo.Edificio" />
        <ValidationMessage For="@(() => vehiculo.Edificio)" class="errormsg" />

            <label for="matricula">Matrícula</label>
        <InputText class="input" id="matricula" placeholder="  Matricula" @bind-Value="vehiculo.Matricula" />
        <ValidationMessage For="@(() => vehiculo.Matricula)" class="errormsg" />

        <button class="iniciarbtn" type="submit">Modificar Vehículo</button>
    </EditForm>
    </div>
</body>

@code {
    [Parameter]
    public string id { get; set; }

    private VehiculoModifyDTO vehiculo = new VehiculoModifyDTO();
    private VehiculoDTO originalvehiculo = new VehiculoDTO();

    string result;
    [Inject]
    public IVehiculoServices VehiculoServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            int idint = int.Parse(id);
            result = await VehiculoServices.UpdateVehiculoPorId(idint, vehiculo);
        }
        catch (Exception e)
        {
                        await Swal.FireAsync("Ha habido un problema", e.Message, "error");
            return;
        }
        await Swal.FireAsync(result, null, "success");
        Navigation.NavigateTo("/gestion/vehiculo");
    }
    async void GetVehiculo()
    {
        int idint = int.Parse(id);
        originalvehiculo = await VehiculoServices.GetVehiculoById(idint);
        vehiculo.Matricula = originalvehiculo.Matricula;
        vehiculo.Edificio = originalvehiculo.Edificio;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        VehiculoServices = new VehiculoServices(Http);

        GetVehiculo();
    }
}