@inject NavigationManager Navigation
@page "/modificar/maquinaria/{id}"
@using API.Models;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JsRuntime
@layout Modificar
@inject HttpClient Http

<PageTitle>Modificar Maquinaria</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

        .input:focus {
            background-color: #AFADAD;
            outline: none;
        }

        .input:hover {
            background-color: #AFADAD;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="container">
        <EditForm Model="@maquinaria" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label>Id de la Maquinaria</label>
            <InputText class="input" id="edificio" readonly="@true" @bind-Value="@id" />

            <label for="edificio">Edificio/Sede</label>
            <InputText class="input" id="edificio" placeholder="  Edificio/Sede" @bind-Value="maquinaria.Edificio" />
            <ValidationMessage For="@(() => maquinaria.Edificio)" class="errormsg" />

            <label for="Nombre">Nombre</label>
            <InputText class="input" id="Nombre" placeholder="  Nombre" @bind-Value="maquinaria.Nombre" />
            <ValidationMessage For="@(() => maquinaria.Nombre)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Modificar Maquinaria</button>
        </EditForm>
    </div>
</body>

@code {
    [Parameter]
    public string id { get; set; }

    private MaquinariaModifyDTO maquinaria = new MaquinariaModifyDTO();
    private MaquinariaDTO originalmaquinaria = new MaquinariaDTO();

    string result;
    [Inject]
    public IMaquinariaServices MaquinariaServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            int idint = int.Parse(id);
            result = await MaquinariaServices.UpdateMaquinariaPorId(idint, maquinaria);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
        Navigation.NavigateTo("/gestion/maquinaria");
    }
    async void GetMaquinaria()
    {
        int idint = int.Parse(id);
        originalmaquinaria = await MaquinariaServices.GetMaquinariaById(idint);
        maquinaria.Nombre = originalmaquinaria.Nombre;
        maquinaria.Edificio = originalmaquinaria.Edificio;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        MaquinariaServices = new MaquinariaServices(Http);

        GetMaquinaria();
    }
}