@inject NavigationManager Navigation
@page "/modificar/consumotransporte/{id}"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject IJSRuntime JsRuntime
@layout ModificarConsumo
@inject HttpClient Http



<PageTitle>Modificar Consumo de Transporte</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

        .input:focus {
            background-color: #AFADAD;
            outline: none;
        }

        .input:hover {
            background-color: #AFADAD;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="container">
        <EditForm Model="@transporte" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label>Id del transporte</label>
            <InputText class="input" id="edificio" readonly="@true" @bind-Value="@id" />

            <label for="matricula">Cantidad de Combustible (Litros)</label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  CantidadCombustible" @bind-Value="transporte.CantidadCombustible" />
            <ValidationMessage For="@(() => transporte.CantidadCombustible)" class="errormsg" />

            <label for="matricula">Fecha de Inicio</label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="transporte.FechaInicio" />
            <ValidationMessage For="@(() => transporte.FechaInicio)" class="errormsg" />

            <label for="matricula">Fecha Fin</label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="transporte.FechaFin" />
            <ValidationMessage For="@(() => transporte.FechaFin)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Modificar Consumo de Transporte</button>
        </EditForm>
    </div>
</body>

@code {
    [Parameter]
    public string id { get; set; }

    private TransporteConsumoModifyDTO transporte = new TransporteConsumoModifyDTO() { FechaInicio = DateTime.Now, FechaFin = DateTime.Now };
    private TransporteConsumoDTO originaltransporte = new TransporteConsumoDTO();

    string result;
    [Inject]
    public ITransporteConsumoServices TransporteServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            int idint = int.Parse(id);
            result = await TransporteServices.UpdateTransporteConsumoPorId(idint, transporte);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
        Navigation.NavigateTo("/consumo/transporte/" + originaltransporte.TransporteId);
    }
    async void GetTransporte()
    {
        int idint = int.Parse(id);
        originaltransporte = await TransporteServices.GetConsumoByID(idint);
        transporte.FechaInicio = originaltransporte.FechaInicio;
        transporte.FechaFin = originaltransporte.FechaFin;
        transporte.CantidadCombustible = originaltransporte.CantidadCombustible;

        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        TransporteServices = new TransporteConsumoServices(Http);
        GetTransporte();
    }
}