@inject NavigationManager Navigation
@page "/modificar/consumovehiculo/{id}"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject IJSRuntime JsRuntime
@layout ModificarConsumo



<PageTitle>Modificar Consumo de Vehiculo</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    .iniciarbtn {
        background-color: #ec8f2f;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #f1f1f1;
    }

        .input:focus {
            background-color: #ddd;
            outline: none;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="container">
        <EditForm Model="@vehiculo" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label><b>Id del vehículo</b></label>
            <InputText class="input" id="edificio" readonly="@true" @bind-Value="@id" />

            <label for="edificio"><b>Edificio/Sede</b></label>
            <InputText class="input" id="edificio" placeholder="  Edificio/Sede" @bind-Value="vehiculo.Edificio" />
            <ValidationMessage For="@(() => vehiculo.Edificio)" class="errormsg" />

            <label for="matricula"><b>Cantidad de Combustible</b></label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  CantidadCombustible" @bind-Value="vehiculo.CantidadCombustible" />
            <ValidationMessage For="@(() => vehiculo.CantidadCombustible)" class="errormsg" />

            <label for="matricula"><b>Fecha de Inicio</b></label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="vehiculo.FechaInicio" />
            <ValidationMessage For="@(() => vehiculo.FechaInicio)" class="errormsg" />

            <label for="matricula"><b>Fecha Fin</b></label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="vehiculo.FechaFin" />
            <ValidationMessage For="@(() => vehiculo.FechaFin)" class="errormsg" />

            <label for="categoria"><b>Tipo de Combustible</b></label>
            <InputSelect class="input" id="categoria" @bind-Value="vehiculo.TipoCombustible">
                <option value="E5">E5</option>
                <option value="E10">E10</option>
                <option value="E85">E85</option>
                <option value="E100">E100</option>
                <option value="B7">B7</option>
                <option value="B10">B10</option>
                <option value="B20">B20</option>
                <option value="B30">B30</option>
                <option value="B100">B100</option>
                <option value="LPG">LPG</option>
                <option value="CNG">CNG</option>

            </InputSelect>
            <ValidationMessage For="@(() => vehiculo.TipoCombustible)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Añadir Consumo de Vehículo</button>
        </EditForm>
    </div>
</body>

@code {
    [Parameter]
    public string id { get; set; }

    private VehiculoConsumoModifyDTO vehiculo = new VehiculoConsumoModifyDTO() { FechaInicio = DateTime.Now, FechaFin = DateTime.Now };
    private VehiculoConsumoDTO originalvehiculo = new VehiculoConsumoDTO();

    string result;
    [Inject]
    public IVehiculoConsumoServices VehiculoServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            int idint = int.Parse(id);
            result = await VehiculoServices.UpdateVehiculoConsumoPorId(idint, vehiculo);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
        Navigation.NavigateTo("/consumo/vehiculo/" + originalvehiculo.VehiculoId);
    }
    async void GetVehiculo()
    {
        int idint = int.Parse(id);
        originalvehiculo = await VehiculoServices.GetConsumoByID(idint);
        vehiculo.Edificio = originalvehiculo.Edificio;
        vehiculo.FechaInicio = originalvehiculo.FechaInicio;
        vehiculo.FechaFin = originalvehiculo.FechaFin;
        vehiculo.CantidadCombustible = originalvehiculo.CantidadCombustible;
        vehiculo.TipoCombustible = originalvehiculo.TipoCombustible;

        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Token.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        GetVehiculo();
    }
}