@inject NavigationManager Navigation
@page "/modificar/consumomaquinaria/{id}"
@using API.Models;
@using API.Models.Consumos;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@using Web.Services.ConsumoServices;
@inject IJSRuntime JsRuntime
@layout ModificarConsumo
@inject HttpClient Http



<PageTitle>Modificar Consumo de Maquinaria</PageTitle>

<style>
    #Agregar {
        margin-bottom: 2%;
        float: left;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .iniciarbtn:hover {
            opacity: 1;
        }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

        .input:focus {
            background-color: #AFADAD;
            outline: none;
        }

        .input:hover {
            background-color: #AFADAD;
        }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="Agregar"></div>
    <div id="container">
        <EditForm Model="@maquinaria" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label>Id del maquinaria</label>
            <InputText class="input" id="edificio" readonly="@true" @bind-Value="@id" />

            <label for="matricula">Cantidad de Combustible (Litros)</label>
            <InputNumber class="input" id="CantidadCombustible" placeholder="  CantidadCombustible" @bind-Value="maquinaria.CantidadCombustible" />
            <ValidationMessage For="@(() => maquinaria.CantidadCombustible)" class="errormsg" />

            <label for="matricula">Fecha de Inicio</label>
            <InputDate class="input" id="FechaInicio" placeholder="  FechaInicio" @bind-Value="maquinaria.FechaInicio" />
            <ValidationMessage For="@(() => maquinaria.FechaInicio)" class="errormsg" />

            <label for="matricula">Fecha Fin</label>
            <InputDate class="input" id="FechaFin" placeholder="  FechaFin" @bind-Value="maquinaria.FechaFin" />
            <ValidationMessage For="@(() => maquinaria.FechaFin)" class="errormsg" />

            <label for="categoria">Tipo de Combustible</label>
            <InputSelect class="input" id="categoria" @bind-Value="maquinaria.TipoCombustible">
                <option value="E5">E5</option>
                <option value="E10">E10</option>
                <option value="E85">E85</option>
                <option value="E100">E100</option>
                <option value="B7">B7</option>
                <option value="B10">B10</option>
                <option value="B20">B20</option>
                <option value="B30">B30</option>
                <option value="B100">B100</option>
                <option value="gasoleoB">Gasóleo B</option>

            </InputSelect>
            <ValidationMessage For="@(() => maquinaria.TipoCombustible)" class="errormsg" />

            <button class="iniciarbtn" type="submit">Modificar Consumo de Maquinaria</button>
        </EditForm>
    </div>
</body>

@code {
    [Parameter]
    public string id { get; set; }

    private MaquinariaConsumoModifyDTO maquinaria = new MaquinariaConsumoModifyDTO() { FechaInicio = DateTime.Now, FechaFin = DateTime.Now };
    private MaquinariaConsumoDTO originalmaquinaria = new MaquinariaConsumoDTO();

    string result;
    [Inject]
    public IMaquinariaConsumoServices MaquinariaServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            int idint = int.Parse(id);
            result = await MaquinariaServices.UpdateMaquinariaConsumoPorId(idint, maquinaria);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", result);
        Navigation.NavigateTo("/consumo/maquinaria/" + originalmaquinaria.MaquinariaId);
    }
    async void GetMaquinaria()
    {
        int idint = int.Parse(id);
        originalmaquinaria = await MaquinariaServices.GetConsumoByID(idint);
        maquinaria.FechaInicio = originalmaquinaria.FechaInicio;
        maquinaria.FechaFin = originalmaquinaria.FechaFin;
        maquinaria.CantidadCombustible = originalmaquinaria.CantidadCombustible;
        maquinaria.TipoCombustible = originalmaquinaria.TipoCombustible;

        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        MaquinariaServices = new MaquinariaConsumoServices(Http);
        GetMaquinaria();
    }
}